<% if model1_signed_in? %>
<h1 align="center">Добавление нового поста</h1>
<br><br>
<%= form_for :post, url: posts_path do |f| %>
    <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"> <%= msg %></div>
        <% end %>
    <% end %>
    <p>
        Название поста<br>
        <%= f.text_field(:title, {:class => 'form-control'}) %>
    </p>
    <p>
        Текст поста<br>
        <%= f.text_area(:body, {:class => 'form-control'}) %>
    </p>
    <p>
        Категория<br>
        <% if @categories.present? %>
        <%= f.select(:category_id, options_for_select(@categories.collect { |cat| [cat.name, cat.id]})) %>
        <% end %>
    </p>
    <p>
        <%= f.submit "Создать пост", class: "btn btn-primary" %>
    </p>
    
<% end %>

<% else %>
    <%= controller.redirect_to new_model1_session_path %>
<% end %>