<h3>Название: <%= @categories.name %></h5>
</p>
<% if model1_signed_in? && (current_model1.admin? || current_model1.moderator?) %>
<%= link_to "Редактировать", edit_category_path(@categories), :class => 'btn btn-warning' %>
<% end %>
<% @i=1 %>
<br><br><br><br>
<h4>Все посты в данной категории:</h4>
<br>
<% @post.each do |post| %>
    <h5><%= link_to "Статья №"+@i.to_s+" "+post.title.to_s, post_path(post)%> <% @i=@i+1 %> </h5>
    <% if post.model1 %>
        <h6>Автор: <%= link_to post.model1.email, user_posts_path( post.model1 )%></h6>
    <% end %>
    <h6>Категория: <%= link_to post.category.name, category_path(post.category)%></h6>
    <%= post.body %> 
    <br><br><br>
<% end %>
